<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css" type="text/css">

  <script src="https://unpkg.com/vue"></script>


</head>

<body>
  <h1>Super Duper Haus</h1>
  <div id="app"></div>

  <!-- component template -->
  <script type="text/x-template" id="grid-template">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredData">
          <td v-for="key in columns">
            {{entry[key]}}

            <!-- Rounded switch -->
            <label v-bind:id= class="switch" v-if="key === 'luz'">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>

          </td>
        </tr>
      </tbody>
    </table>
  </script>

  <!-- demo root element -->
  <div id="demo">
    <demo-grid
      :data="gridData"
      :columns="gridColumns"
      :filter-key="searchQuery">
    </demo-grid>
  </div>

  <div id="button-1">
    <button v-on:click="counter += 1">Add 1</slide-button>
  </div>

  <script src="./main.js"></script>

</body>
</html>
